# Игнорировать папку vendor (Composer зависимости)
/vendor/

# Игнорировать кеши Composer
/.composer/
/composer.lock

# Игнорировать временные файлы и логи
*.log
*.cache

# Игнорировать системные файлы редакторов
*.swp
*~

# Игнорировать файлы IDE
.idea/
.vscode/
